<nav class="menu">

    {# MAIN LINKS #}
    <ul class="main list-unstyled">
        <li><a href="" class="booking">billetterie</a></li>
        <li><a href="" class="first-entry home">accueil</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li><a href="" class="first-entry">rubrique</a></li>
        <li class="search">
            <form action="" method="get">
                <input type="text" placeholder="recherche">
                <input type="submit" value="">
            </form>
        </li>
    </ul>

    {# SECONDARY LINKS #}
    <div class="coords">
        <p>coordonnées</p>
    </div>
    <ul class="links list-unstyled">
        <li><a href="">lien</a></li>
        <li><a href="">lien</a></li>
    </ul>
</nav>
